<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Peg A Page</title>
<script type="text/javascript">
 function loadSaveBoard()
        {
        l=(screen.width-500)/2;
		t=(screen.height-500)/2;
		document.getElementById("mode").value="Add";
            window.open("createBoard/", "littleWindow", "location=no,width=500,height=250,titlebar=no,directories=no,status=no,menubar=no,left="+l+",top="+t);
            return false;
        }
        
        function loadpegform(me)
        {        	
        	var id  = me.id
        	var bid = id.substring(id.indexOf("#")+1,id.length);
        	l=(screen.width-500)/2;
    		t=(screen.height-500)/2;
    		document.getElementById("bid").value=bid;
            window.open("Pegs/", "littleWindow", "location=no,width=500,height=250,titlebar=no,directories=no,status=no,menubar=no,left="+l+",top="+t);
            return false;
        }
        
        
         function setEditMode(me)
        {
        	var id  = me.id
        	var bid = id.substring(id.indexOf("#")+1,id.length);
        	l=(screen.width-500)/2;
    		t=(screen.height-500)/2;
    		document.getElementById("bid").value=bid;
         document.getElementById("mode").value="Update";
         window.open("createBoard/", "littleWindow", "location=no,width=500,height=250,titlebar=no,directories=no,status=no,menubar=no,left="+l+",top="+t);
        
        }
        
 </script>
  
<style type="text/css">
.parentimage
{
position:relative;
display:inline;
}
.imtip
{
position:absolute;
right:0;
}

</style>

 
</head>
<body>
<div style="background-color: aqua;">
  <h1 align="center">Peg A Page
  <img align="right" src="http://designsinmylocket.files.wordpress.com/2012/12/smiley-face.jpg" height="42" width="42"></img>
</h1>
</div>
<h4 align="right">Welcome pallavi</h4>


<form id="crudBoard" action="/loadBoard/" method="post">
{% csrf_token %}
	{% load staticfiles %}
	<table>
		<tr align="center">			
			{% if boards %}				
				{% for b in boards %}
				<td>
				<figure>
				<div class="parentimage">
				<img id="editIcon#{{b.id}}" name="{{b.id}}" border="0" src="{% static "images/edit-icon.png" %}" width="40" height="40" class="imtip" onclick="setEditMode(this);">
				<img name="imgAddBoard1" border="0" src="{% static "images/Add_Board.jpg" %}" width="200" height="200" onclick="loadpegform(this);">
			 		
				</div>
				<figcaption align="center">{{b.Board_name}}</figcaption>
				</figure>
					
			 		</td>
			 		<input id="boardname#{{b.id}}" type="hidden" value="{{b.Board_name}}" name="boardname#{{b.id}}" ></input>
					<input id="boarddesc#{{b.id}}" type="hidden" value="{{b.Board_des}}" name="boarddesc#{{b.id}}" ></input>
		
 				{% endfor %}
 				
 			
 			{% endif %}
			 
			<td>
      			  <img name="imgAddBoard" border="0" src="{% static "images/Add_Boards.jpg" %}" width="200" height="200" onclick="loadSaveBoard()">
       		 
			</td>
		</tr>		
		
	</table>
	<input id="bid" type="hidden" value={{bid}} name="bid" ></input>	
	<input id="mode" type="hidden" value="Add" name="mode" ></input>
	</form>
</body>
</html>