<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Comment Peg</title>
<script type="text/javascript">

var board_name, peg_name;
var str='pegname#'+window.opener.document.getElementById('pegid').value;
peg_name =  window.opener.document.getElementById(str).value;
board_name =  window.opener.document.getElementById('boardid').value;

function initializeForm(){
	if(window.opener){
		board_name =  window.opener.document.getElementById('boardid').value;
		document.getElementById("boardid").value = window.opener.document.getElementById('boardid').value;
		document.getElementById("userid").value = 1;
		var str='pegname#'+window.opener.document.getElementById('pegid').value;
		//alert("str value="+str);
		peg_name =  window.opener.document.getElementById(str).value;
		document.getElementById("pegid").value = window.opener.document.getElementById('pegid').value;
		
		//alert("name_peg value"+peg_name);
		//alert("name_board value"+board_name);	
	}
	else
		{alert("else")}
	
	}
	function followBoard()
	{
		document.getElementById("ptype").value ="follow";
		commentform.submit();
	}
        
  </script>
</head>
<body onload="initializeForm();">
<form id="savebookmark" name="commentform" method="post" action="/Boards/Pegs/commentPeg/">
{% csrf_token %}
	{% load staticfiles %}
 		
		<table>
		<tr align="center">	
		
				<td>
				<a>
  				<div align="center"><label id="board" name="board"></label></div>  
  
				<figure>
				<div class="parentimage">
				<img id=impPeg name="{{peg.id}}"  border="0" src="{% static 'images/Aqua_Pin.png' %}" width="300" height="300">
				</div>
				<figcaption align="center"><script >document.write(peg_name);</script></figcaption><br><br>
				
				<figcaption align="top"><script>document.write(board_name);</script></figcaption>
				<div>
				<img id=impPeg name="{{peg.id}}"  border="0" src="{% static 'images/followBoard.jpeg' %}" width="100" height="100" onclick="followBoard();"> 
   				</div>
				</figure>
				</a>
				</td>
				</tr>
			<tr><td>{{ form.as_p }} </td></tr>
			<tr><td><input id="actionButton" type="submit" name="actionButton" value="save" ></td></tr>
	
	
<div>

   </div>
  <input id="boardid" name="boardid" type="hidden"/>
    <input id="pegid" name="pegid" type="hidden"/>
    <input id="userid" name="userid" type="hidden"/>
    <input id="ptype" name="ptype" type="hidden" value="comment"/>
</form>
</body>
</html>