<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add Peg</title>
<script type="text/javascript">
	window.onload = function(){
	var pw = parent.window;
	if(pw){
		var inputform = pw.document.forms['inputform1'];
		var name = inputform.elements['boardname'].value
		document.getElementsByName("board").text = name
		
	}
	}
        
  </script>
</head>
<body>
<form id="savebookmark" method="post" action="/Pegs/createPeg/">
{% csrf_token %}
  <div align="center"><label id="board" name="board"></label></div>
  {{ form.as_p }}
  <input type="submit" value="Add">
</form>
</body>
</html>