<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add Board</title>
<script type="text/javascript">
	function initializeForm(){
	if(window.opener){
		var name =  window.opener.document.getElementById('bid').value;
		document.getElementById("bid").value = name;
		
		var mode = window.opener.document.getElementById('mode').value;
		document.getElementById("actionButton").value=mode;
		
		
		document.getElementById("bid").value = window.opener.document.getElementById('bid').value;
		bid = document.getElementById("bid").value
		if(mode == 'Update')
			{
			document.getElementById("deleteButton").style.visibility = "visible";
			//Populating edit form :)			
			document.getElementById("id_name").value = window.opener.document.getElementById('boardname#'+bid).value
			document.getElementById("id_desc").value = window.opener.document.getElementById('boarddesc#'+bid).value
			}
		else
			{
			document.getElementById("deleteButton").style.visibility = "hidden";
			
			}
	
	}
	else
		{alert("else")}
	
	}
        
  </script>
</head>
<body onload="initializeForm();">
<form id="saveboard" method="post" action="/deleteBoard/">
{% csrf_token %}
 <div align="center"><label id="board" name="board"></label></div>
  {{ form.as_p }}
  <div>
  <input id="actionButton" type="submit" name="actionButton" value="" onclick="if(value=='Add'){this.form.action='/Boards/createBoard/'} else {this.form.action='/Boards/updateBoard/'}"> 
  <input id="deleteButton" style="visibility: hidden;" type="submit" name="deleteButton" value="Delete" onclick="this.form.action='/Boards/deleteBoard/'">
  </div>
   <input id="bid" name="bid" type="hidden"></input>
</form>
</body>
</html>