<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Like</title>
<script type="text/javascript">
        function initializeForm(){
        if(window.opener){
		var name =  window.opener.document.getElementById('boardid').value;
                document.getElementById("boardid").value = name;
		document.getElementById("pegid").value = window.opener.document.getElementById('pegid').value;
                pegid = document.getElementById("pegid").value
                document.getElementById("boardid").value = window.opener.document.getElementById('boardid').value;
                boardid = document.getElementById("boardid").value
                document.getElementById("id_url").value = window.opener.document.getElementById('pegurl#'+pegid).value
                document.getElementById("id_name").value = window.opener.document.getElementById('pegname#'+pegid).value
		 }
        else
                {alert("else")}
        
        }
</script>
</head>
<body onload="initializeForm();">
<form id="savebookmark" method="post" action="/LikePeg/">
{% csrf_token %}
  <div align="center"><label id="board" name="board"></label></div>
 {{ form.as_p }} 
  <div>
  <input id="actionButton" type="submit" name="actionButton" value="Like"  onclick="this.form.action='Pegs/LikePeg/'"> 
   </div>
  <input id="boardid" name="boardid" type="hidden"></input>
  <input id="pegid" name="pegid" type="hidden"></input>
  <input id="userid" name="userid" type="hidden"></input>
</form>
</body>
</html>
