<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Peg A Page</title>
 <script type="text/javascript">
       
        function loadSaveForm()
        {
        l=(screen.width-500)/2;
		t=(screen.height-500)/2;
		document.getElementById("mode").value="Add";
            window.open("createPeg/", "littleWindow", "location=no,width=500,height=250,titlebar=no,directories=no,status=no,menubar=no,left="+l+",top="+t);
            return false;
        }
        
       
        function setEditMode(me)
        {
        	var id  = me.id
        	var pegid = id.substring(id.indexOf("#")+1,id.length);
        	l=(screen.width-500)/2;
    		t=(screen.height-500)/2;
    		document.getElementById("pegid").value=pegid;
         document.getElementById("mode").value="Update";
         window.open("createPeg/", "littleWindow", "location=no,width=500,height=250,titlebar=no,directories=no,status=no,menubar=no,left="+l+",top="+t);
        
        }
        
         function loadSaveBoard()
        {
        l=(screen.width-500)/2;
		t=(screen.height-500)/2;
		document.getElementById("mode").value="Add";
            window.open("createBoard/", "littleWindow", "location=no,width=500,height=250,titlebar=no,directories=no,status=no,menubar=no,left="+l+",top="+t);
            return false;
        }
         
         function commentPeg(me)
         {
        	 var id  = me.id
         	var pegid = id.substring(id.indexOf("#")+1,id.length);
         	l=(screen.width-500)/2;
     		t=(screen.height-500)/2;
     		document.getElementById("pegid").value=document.getElementById("impPeg").name;
     		//alert(document.getElementById("pegid").value);
          document.getElementById("mode").value="Edit";
          window.open("commentPeg/", "littleWindow", "location=no,width=500,height=250,titlebar=no,directories=no,status=no,menubar=no,left="+l+",top="+t);
         }
         
         function PegIt(me)
         {
       	 var id = me.id
        	 var pegid = id.substring(id.indexOf("#")+1,id.length);
         	l=(screen.width-500)/2;
     		t=(screen.height-500)/2;
     		document.getElementById("pegid").value = pegid;	//document.getElementById("impPeg").name;
     		//alert(document.getElementById("pegid").value);
        //  document.getElementById("mode").value="Add";
          window.open("pegitPeg/", "littleWindow", "location=no,width=500,height=250,titlebar=no,directories=no,status=no,menubar=no,left="+l+",top="+t);
         }
         
 //        }
  </script>
  
<style type="text/css">
.parentimage
{
position:relative;
display:inline;
}
.imtip
{
position:absolute;
right:0;
}
.commentimage
{
position:absolute;
left:0;
}
.PegItimage
{
position:absolute;
bottom:0;
}
</style>

 
</head>
<body>
<div style="background-color: aqua;">
  <h1 align="center">Peg A Page
  <img align="right" src="http://designsinmylocket.files.wordpress.com/2012/12/smiley-face.jpg" height="42" width="42"></img>
</h1>
</div>
<h4 align="right">Welcome pallavi</h4>
<form id="crudPeg" action="/createPeg/" method="post">
{% csrf_token %}
	{% load staticfiles %}
	<table>
		<tr align="center">
			<td align="center">
			 <a>
      			  <img name="imgAddPeg" border="0" src="{% static "images/Add_Pin_Text.png" %}" width="200" height="200" onclick="loadSaveForm()">
       		 </a>
			</td>
		</tr>
		{% for peg in pegs %}
		<tr>
		<td>
		<a>
		<figure>
		<div class="parentimage">
		<img id="editIcon#{{peg.id}}" name="{{peg.id}}" border="0" src="{% static 'images/edit-icon.png' %}" width="40" height="40" class="imtip" onclick="setEditMode(this);">
		<img id="PegItIcon#{{peg.id}}" name="{{pegid}}" align="bottom" border="0" src="{% static 'images/PegIt.png' %}"  width="40" height="40" class="PegItimage" onclick="PegIt(this);">
		<img id="commentIcon#{{peg.id}}" name="{{pegid}}" align="left" border="0" src="{% static "images/comment.png" %}"  width="40" height="40" class="commentimage" onclick="commentPeg(this);">
		<img id=impPeg name="{{peg.id}}"  border="0" src="{% static 'images/Aqua_Pin.png' %}" width="200" height="200"><br/>
		</div>
		<figcaption align="center">{{peg.name}}</figcaption>
		</figure>
		</a>
		</td>
		<td align="center">
			 <a>
      			  <img name="imgAddBoard" border="0" src="{% static "images/Add_Board.jpg" %}" width="200" height="200" onclick="loadSaveBoard()">
       		 </a>
			</td>
		</tr>
		<input id="pegurl#{{peg.id}}" type="hidden" value="{{peg.url}}" name="pegurl#{{peg.id}}" ></input>
		<input id="pegname#{{peg.id}}" type="hidden" value="{{peg.name}}" name="pegname#{{peg.id}}" ></input>
		<input id="pegdesc#{{peg.id}}" type="hidden" value="{{peg.peg_des}}" name="pegdesc#{{peg.id}}" ></input>
		{% endfor %}
	</table>
	<input id="boardid" type="hidden" value={{boardid}} name="boardid" ></input>
	<input id="pegid" type="hidden" value="" name="pegid" ></input>
	<input id="mode" type="hidden" value="Add" name="mode" ></input>
	</form>
</body>
</html>