<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Peg A Page</title>
 <script type="text/javascript">
       
        function loadSaveForm()
        {
        l=(screen.width-500)/2;
		t=(screen.height-500)/2;
        
            window.open("/Pegs/createPeg/", "littleWindow", "location=no,width=500,height=250,titlebar=no,directories=no,status=no,menubar=no,left="+l+",top="+t);
            return false;
        }
  </script>
</head>
<body>
<div style="background-color:#A7EEF6">
  <h1 align="center">Peg A Page
  <img align="right" src="http://designsinmylocket.files.wordpress.com/2012/12/smiley-face.jpg" height="42" width="42"></img>
</h1>
</div>
<h4 align="right">Welcome pallavi</h4>
<form id="crudPeg" action="/Pegs/createPeg/" method="post">
{% csrf_token %}
	{% load staticfiles %}
	<table>
		<tr align="center">
			<td align="center">
			 <a>
      			  <img name="imgAddPeg" border="0" src="{% static "images/Add_Pin_Text.png" %}" width="200" height="200" onclick="loadSaveForm()">
       		 </a>
			</td>
		</tr>
		{% for bookmark in bookmarks %}
		<tr>
		<td>
		<a>
		<img name="impPeg" border="0" src="{% static "images/Aqua_Pin.png" %}" width="200" height="200"><br/>
        {{bookmark.bookmarkname}}
		</a>
		</td>
		</tr>
		{% endfor %}
	</table>
	</form>
</body>
</html>